.error {
  min-height: 60vh;
}
.error-bg {
  width: 100%;
  position: relative;
}
.error-bg h1 {
  font-size: 20rem;
  text-align: center;
  color: var(--green);
  opacity: 0.1;
}
.error-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .error-bg h1 {
    font-size: 10rem;
  }
}
